<div class="create-macerate-container">
    <div>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Articulos</nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Enlistar todo</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>Crear macerado</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="title">
        <span class="list-decorator"></span>
        <p>Crear macerado</p>
    </div>
    <section class="section-form">
        <p class="subtitle">Datos generales</p>
        <div class="form">
            <input nz-input placeholder="Nombre del macerado" type="text"/>
            <nz-date-picker nzPlaceHolder="Fecha de vencimiento"></nz-date-picker>
        </div>
        <p class="subtitle">Añadir ingredientes</p>
        <form nz-form [formGroup]="complementsForm">
            <nz-form-item *ngFor="let control of listOfControl; let i = index">
              <nz-input-group nzCompact nzErrorTip="Please input passenger's name or delete this field.">
                <nz-select class="reactiveControls"nzPlaceHolder="Seleccione un ingrediente" [formControlName]="control.controlInstance" nzAllowClear>
                  <nz-option [nzLabel]="'Verduras verdes'" [nzValue]="'Verduras verdes'"></nz-option>
                  <nz-option [nzLabel]="'Verduras rojas'" [nzValue]="'Verduras rojas'"></nz-option>
                  <nz-option [nzLabel]="'Verduras amarillas'" [nzValue]="'Verduras amarillas'"></nz-option>
                </nz-select>
                <input class="reactiveControls" [formControlName]="control.controlInstance2" placeholder="Ingrese la cantidad en gramos" type="number" nz-input />
              </nz-input-group>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
                  <span nz-icon nzType="plus"></span>
                  Agregar ingrediente
                </button>
              </nz-form-control>
            </nz-form-item>
        </form>
        <button style="margin-top: 3rem;" nz-button nzType="primary" nzValue="large">Crear macerado</button>
    </section>
</div>